@import 'variables';
@import 'typography';
@import 'ui';

body {
  margin: 0;
  background: #555;
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  background-color: #000;
  position: absolute;
  top: 0;
}